<!-- ======== sidebar-nav start =========== -->
<app-sidebar></app-sidebar>
<!-- ======== sidebar-nav end =========== -->

<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper">
  <!-- ========== header start ========== -->
  <app-header></app-header>
  <!-- ========== header end ========== -->

  <!-- ========== section start ========== -->
  <section class="section">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- end container -->
  </section>
  <!-- ========== section end ========== -->

  <!-- ========== footer start =========== -->
  <app-footer></app-footer>
  <!-- ========== footer end =========== -->
</main>
<!-- ======== main-wrapper end =========== -->
